.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  color: white;
  font-weight: 500;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.nav-links {
  display: flex;  
  justify-content: space-between; 
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-links p {
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.nav-links p:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.nav-links .active {
  font-weight: 600;
  text-decoration: underline;
}

.logo-img {
  width: clamp(4.5rem, 3vw, 3rem);
  height: clamp(4.5rem, 3vw, 3rem);
  object-fit: cover;
}