.footer {
  background-color: #560DAE;
  width: 100%;
  bottom: 0;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: #560DAE;
  color: white;
  font-weight: 500;
  overflow: hidden;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}