
.material-page {
  width: 100vw; 
  height: 100vh;
  background: #560DAE;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 6rem;
  padding-left:5%;
  padding-right:5%;
}
.material-content{
    display: flex;  
    flex-direction: column;
}
.aula{
  display: flex;
  align-items: center;  
  flex-direction: row;
  justify-content: space-between;
  background-color: #511698;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.material-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.material-header button {
  background-color: #FFB329;
  border-style: none;
  color: #511698;
  border-radius: 8rem;
  width: 8%;
  cursor: pointer;
  transition: box-shadow 0.25s ease;
}

.material-header button:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.cnt{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3%;
}

.buttons img{
  margin: 3%;
}

.buttons img {
  margin: 5%;
  transition: transform 0.3s ease;
}

.buttons img:hover {
  transform: rotate(3deg) scale(1.05);
}